<div class="container">
  <h1>All our flats </h1>
  <p> All <%= @flats.count %> flats. </p>

    <div class="cards">
      <% @flats.each do |flat| %>
        <%= render "card_flat", flat: flat %>
      <% end %>
    </div>

  <%= link_to "Add flat", new_flat_path %>

</div>
